@model ProfileFormViewModel

@{
    ViewData["Title"] = "Edit Users";
}

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id"/>
    @Html.AntiForgeryToken()

    <h2>Create a new User.</h2>
    <hr />

    <!-- Full Name -->
    <div class="form-floating mb-3">
        <input asp-for="FullName" class="form-control" autocomplete="off" aria-required="true" placeholder="Full Name" />
        <label asp-for="FullName">Full Name</label>
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>

    <!-- Username -->
    <div class="form-floating mb-3">
        <input asp-for="UserName" class="form-control" autocomplete="off" aria-required="true" placeholder="Username" />
        <label asp-for="UserName">Username</label>
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>

    <!-- Email -->
    <div class="form-floating mb-3">
        <input asp-for="Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Email" />
        <label asp-for="Email">Email</label>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <!-- Submit Button -->
    <button type="submit" class="w-100 btn btn-lg btn-primary mt-4">Save</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
